<div class="login">
    <mat-card class="box">
        <mat-card-header>
        </mat-card-header>
        <p *ngIf="lastPasswordInvalid" class="error">Helytelen jelszó</p>
        <form class="form" [formGroup]="form">
          <mat-card-content>
            <mat-form-field appearance="fill" class="username" floatLabel="always">
              <input
                matInput
                placeholder="Username"
                formControlName="username"
                type="text"
                class="input-item"
                [(ngModel)]="username"
              />
              <mat-error *ngIf="form.get('username')!.invalid">
                Please enter your username!
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="password" controller>
                <input
                  matInput
                  placeholder="Email address"
                  formControlName="email"
                  type="email"
                  class="input-item"
                />
                <mat-error *ngIf="form.get('email')!.invalid"
                  >Please enter your email address!</mat-error
                >
              </mat-form-field>
            <mat-form-field appearance="fill" class="password" controller>
              <input
                matInput
                placeholder="Password"
                formControlName="password"
                type="password"
                class="input-item"
              />
              <mat-error *ngIf="form.get('password')!.invalid"
                >Please enter your password!</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="fill" class="password" controller>
                <input
                  matInput
                  placeholder="Password again"
                  formControlName="passwordAgain"
                  type="password"
                  class="input-item"
                />
                <mat-error *ngIf="form.get('password')!.invalid"
                  >Please enter your password again!</mat-error
                >
              </mat-form-field>
          </mat-card-content>
          <button
            mat-stroked-button
            color="accent"
            class="btn"
            (click)="onRegister()"
          >
            Register
          </button>
        </form>
      </mat-card>
    </div>