apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ default "staging" .Release.Namespace }}
  name: {{ .Values.name }}
  labels:
    app: {{ .Values.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.name }}
  template:
    metadata:
     labels:
        app: {{ .Values.name }}
    spec:
      containers:
        - name: {{ .Values.name }}
          env:
            - name: ACCEPT_EULA
              value: '"Y"'
            - name: SA_PASSWORD
              value: Asdf1234
          volumeMounts:
            - mountPath: /var/lib/mysql
              name: datafiles
          image: {{ .Values.deployment.image}}
          ports:
            - containerPort: {{ .Values.deployment.containerPort}}
      volumes:
        - name: datafiles
          persistentVolumeClaim:
            claimName: datafiles


apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: datafiles
  name: datafiles
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi


---
apiVersion: v1
kind: Service
metadata:
  namespace: {{ default "staging" .Release.Namespace }}
  name: {{ .Values.name }}
spec:
  selector:
    app: {{ .Values.name }}
  ports:
    - protocol: TCP
      port: 2666
      targetPort: {{ .Values.deployment.containerPort}}