apiVersion: apps/v1
kind: Deployment
metadata:
  # annotations:
  #   kompose.cmd: kompose convert
  #   kompose.version: 1.26.1 (a9d05d509)
  #   traefik.enable: "true"
  #   traefik.http.routers.auth-service.entrypoints: web
  #   traefik.http.routers.auth-service.rule: Host(`localhost`) && Path(`/auth{any:.*}`)
  #   traefik.port: "6200"
  # creationTimestamp: null
  labels:
    io.kompose.service: auth-service
  name: auth-service
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: auth-service
  strategy: {}
  template:
    metadata:
      # annotations:
      #   kompose.cmd: kompose convert
      #   kompose.version: 1.26.1 (a9d05d509)
      #   traefik.enable: "true"
      #   traefik.http.routers.auth-service.entrypoints: web
      #   traefik.http.routers.auth-service.rule: Host(`localhost`) && Path(`/auth{any:.*}`)
      #   traefik.port: "6200"
      # creationTimestamp: null
      labels:
        # io.kompose.network/traefik-net: "true"
        io.kompose.service: auth-service
    spec:
      containers:
        - image: mswsregistry.azurecr.io/node-auth-service:latest
          name: auth-service
          resources: {}
      restartPolicy: Always
