apiVersion: apps/v1
kind: Deployment
metadata:
  # annotations:
  #   kompose.cmd: kompose convert
  #   kompose.version: 1.26.1 (a9d05d509)
  #   traefik.enable: "true"
  #   traefik.http.middlewares.nginxheaders.headers.accesscontrolalloworiginlist: http://localhost:80
  #   traefik.http.routers.nginx.entrypoints: web
  #   traefik.http.routers.nginx.middlewares: nginxheaders
  #   traefik.http.routers.nginx.rule: Host(`localhost`) && Path(`/`, `/{jscss:.*(.css|.js)}`, `/basket`, `/orders`, `/createproduct`, `/createcategory`, `/edit{edit:.*}`)
  #   traefik.port: "80"
  # creationTimestamp: null
  labels:
    io.kompose.service: nginx
  name: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: nginx
  strategy: {}
  template:
    metadata:
      # annotations:
      #   kompose.cmd: kompose convert
      #   kompose.version: 1.26.1 (a9d05d509)
      #   traefik.enable: "true"
      #   traefik.http.middlewares.nginxheaders.headers.accesscontrolalloworiginlist: http://localhost:80
      #   traefik.http.routers.nginx.entrypoints: web
      #   traefik.http.routers.nginx.middlewares: nginxheaders
      #   traefik.http.routers.nginx.rule: Host(`localhost`) && Path(`/`, `/{jscss:.*(.css|.js)}`, `/basket`, `/orders`, `/createproduct`, `/createcategory`, `/edit{edit:.*}`)
      #   traefik.port: "80"
      # creationTimestamp: null
      labels:
        # io.kompose.network/traefik-net: "true"
        io.kompose.service: nginx
    spec:
      containers:
        - image: mswsregistry.azurecr.io/nginx-frontend:latest
          name: angularnginx
          resources: {}
      restartPolicy: Always
