<div class="login">
<mat-card class="box">
    <mat-card-header>
    </mat-card-header>
    <p *ngIf="lastPasswordInvalid" class="error">Helytelen jelszó</p>
    <form class="form" [formGroup]="form">
      <mat-card-content>
        <mat-form-field  class="username">
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="Username"
            formControlName="username"
            type="text"
            class="input-item"
            [(ngModel)]="username"
          />
          <mat-error *ngIf="form.get('username')!.invalid">
            Please enter your username!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="password" controller>
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Password"
            formControlName="password"
            type="password"
            class="input-item"
          />
          <mat-error *ngIf="form.get('password')!.invalid">
                Please enter your password!
            </mat-error
          >
        </mat-form-field>
      </mat-card-content>
      <button
        mat-raised-button
        color="primary"
        class="btn"
        (click)="onLogin()"
      >
        Log in
      </button>
      <div class="register-prompt">
        <span>Dont have an account? <a routerLink="/register" routerLinkActive="mat-accent">Sign Up</a></span>
      </div>
    </form>
  </mat-card>
</div>