name: avalon-ingress

services:
  basket_service:
    name: basket-service
    port: 80
    prefix: /basket
  nginx_frontend:
    name: nginx-frontend
    port: 80
    prefix: /

dependencies:
  basket-service:
    enabled: true
  nginx-frontend:
    enabled: true
  traefik:
    enabled: true

basket-service:
  deployment:
    image: "basket-service"
    registry: "mswsregistry.azurecr.io"
    tag: "latest"
    containerPort: 80
  name: "basket"

nginx-frontend:
  deployment:
    image: "nginx-frontend"
    registry: "mswsregistry.azurecr.io"
    tag: "latest"
    containerPort: 80
  name: "nginx-frontend"

  # database:
  #   url: mongodb://user1:user123@mongodb-svc.mongodb/Archimedes-Rest?readPreference=primaryPreferred