api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":80"
  https:
    address: ":443"

log:
  level: WARN

providers:
  docker:
    exposedByDefault: false

certificatesResolvers:
  http:
    acme:
      email: solyomtibi2000@gmail.com
      storage: /acme/acme.json
      httpChallenge:
        entryPoint: web