apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: {{default "staging" .Release.Namespace}}
  name: {{.Values.name}}
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/router.middlewares: production-forward-auth@kubernetescrd
spec:
  rules:
    - http:
        paths:
          - path: /dashboard
            pathType: Prefix
            backend:
              service:
                name: traefik
                port:
                  number: 8080
          - path: {{.Values.services.basket_service.prefix}}
            pathType: Prefix
            backend:
              service:
                name: {{.Values.services.basket_service.name}}
                port:
                  number: {{.Values.services.basket_service.port}}
          - path: {{.Values.services.order_service.prefix}}
            pathType: Prefix
            backend:
              service:
                name: {{.Values.services.order_service.name}}
                port:
                  number: {{.Values.services.order_service.port}}
          #product paths     
          - path: {{.Values.services.category_service.prefix}}
            pathType: Prefix
            backend:
              service:
                name: {{.Values.services.category_service.name}}
                port:
                  number: {{.Values.services.category_service.port}}