table {
    margin-top: 10px;
    width: 100%;
  }

  .bottom {
      width: 100%;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px
  }

  .mat-column-actions{
    flex: none;
    width: 120px;
}

.no-content{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    user-select: none;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 5px;
}

.error{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: red;
    padding: 5px;
    background-color: #fff;
}

.button-spinner-container{
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }

  .ordererror{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  }

  .payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }