apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: basket-service-service
  name: basket-service-service
spec:
  ports:
    - name: "BasketService"
      port: 7000
      targetPort: 80
  type: LoadBalancer
  selector:
    io.kompose.service: basket-service-service
