# This is a basic workflow to help you get started with Actions

name: Build and push the tagged build to production

# Controls when the workflow will run
on:
  push:
    branches: [main]


  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build_push_image:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Fetch latest version
        id: fetch_version
        run: echo ::set-output name=TAG::${GITHUB_REF#refs/tags/}
        
      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v2.0.0

      - name: Docker Login
        uses: docker/login-action@v2.0.0
        with:
          registry: ${{ secrets.ACR_NAME }}
          username: ${{ secrets.ACR_LOGIN }}
          password: ${{ secrets.ACR_PASSWORD }}


      - name: Build and push basket-service
        uses: docker/build-push-action@v3.0.0
        with:
          context: ./BasketService
          tags: ${{secrets.ACR_NAME}}/basket-service:latest
          push: true
          
      - name: Build and push email-service
        uses: docker/build-push-action@v3.0.0
        with:
          context: ./EmailService
          tags: ${{secrets.ACR_NAME}}/email-service:latest
          push: true

      - name: Build and push order-service
        uses: docker/build-push-action@v3.0.0
        with:
          context: ./OrderService
          tags: ${{secrets.ACR_NAME}}/order-service:latest
          push: true

      - name: Build and push payment-service
        uses: docker/build-push-action@v3.0.0
        with:
          context: ./PaymentService
          tags: ${{secrets.ACR_NAME}}/payment-service:latest
          push: true

      - name: Build and push product-service
        uses: docker/build-push-action@v3.0.0
        with:
          context: ./ProductService
          tags: ${{secrets.ACR_NAME}}/product-service:latest
          push: true

      - name: Build and push node-auth-service
        uses: docker/build-push-action@v3.0.0
        with:
          context: ./NodeAuthService
          tags: ${{secrets.ACR_NAME}}/node-auth-service:latest
          push: true

      - name: Build and push nginx-frontend
        uses: docker/build-push-action@v3.0.0
        with:
          context: ./MicroserviceFrontend
          tags: ${{secrets.ACR_NAME}}/nginx-frontend:latest,${{secrets.ACR_NAME}}/nginx-frontend:${{ steps.fetch_version.outputs.TAG }}
          push: true
          
          
