.container{
    width: 100%;
    margin-top: 15px;
}

table{
    width: 100%;
}

.no-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 5px;
}

.error{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: red;
    padding: 5px;
    background-color: #fff;
}